<!DOCTYPE html>
<html>
	<head>
		<title></title>
		
		<link rel="stylesheet" href="card2.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>

		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>

		

	</head>
	<body>
			


	<div class="card">
	  <div class="card-header">Lowest temperature of the day</div>
	  <div class="card-main">
	    <i class="fas fa-temperature-low" style="font-size:48px;color:red"></i><br>
	    <div class="main-description">7 degree celsius</div>
	  </div>
	</div>
	<br>
	<div class="card">
	  <div class="card-header">Highest temperature of the day</div>
	  <div class="card-main">
	    <i class="fas fa-temperature-high" style="font-size:48px;color:red"></i><br>
	    <div class="main-description">15 degree celsius</div>
	  </div>
	</div>
	<br>
	<div class="card">
	  <div class="card-header">Wind Speed</div>
	  <div class="card-main">
	    <i class="fas fa-wind" style="font-size:48px;color:red"></i><br>
	    <div class="main-description">Wind Speed</div>
	  </div>
	</div>
	<br>
	<div class="card">
	  <div class="card-header">Rain</div>
	  <div class="card-main">
		<i class='fas fa-cloud-showers-heavy' style=font-size:36px;color:red>"</i><br>
	    <div class="main-description">Rain</div>
	  </div>
	</div>
	<br>
	<div class="card">
	  <div class="card-header">Humidity</div>
	  <div class="card-main">
	    <i class="fa fa-thermometer-0" style="font-size:48px;color:red"></i><br>
	    <div class="main-description">15 degree celsius</div>
	  </div>
	</div>
	<br>
	<div class="card">
	  <div class="card-header">Sun</div>
	  <div class="card-main">
	    <i class="fas fa-sun" style="font-size:48px;color:red"></i><br>
	    <div class="main-description">15 degree celsius</div>
	  </div>
	</div>

	 
</body>
</html> 